body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

.header-top {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}